<script src='base/kernel.min.js'></script>
<script src='base/jquery.js'></script>
<script src='base/phpjs.js'></script>
<script src='app/core/extensions/extension.js'></script>

<script src='app/core/extensions/extern/jstorage.js'></script>
<script src='app/core/extensions/db.js'></script>
<script src='app/core/extensions/lang/en.js'></script>
<script src='app/core/extensions/originjs.js'></script>
<script src='app/core/extensions/ajax.js'></script>
<script src='app/core/extensions/render.js'></script>
<script src='app/core/extensions/result.js'></script>
<script src='app/plugins/test/testLocalStorage.js'></script>

<div id='top' style='border: 5px solid #f00; padding: 10px;'></div>
<div id='center' style='border: 5px solid #0f0; padding: 10px;'><br class='clear'/></div>
<div id='bottom' style='border: 5px solid #00f; padding: 10px;'><br class='clear'/></div>