<script type="text/javascript" src="../app/core/extensions/extern/localStorageDb.js"></script>
<script type="text/javascript" src="../base/jquery.js"></script>
<script type="text/javascript" src="table.js"></script>
<script type="text/javascript">
    
    function autolog(str){
        if(typeof str === 'object') str = JSON.stringify(str);
        console.log(str);
    }
    
    // Initialise. If the database doesn't exist, it is created
    var lib = new localStorageDB("library", localStorage);
    /*
    // create the "books" table
    //lib.createTable("books", ["code", "title", "author", "year", "copies"]);
    lib.insert("books", {code: "B001", title: "Phantoms in the brain", author: "Ramachandran", year: 1999, copies: 10});
    lib.insert("books", {code: "B002", title: "The tell-tale brain", author: "Ramachandran", year: 2011, copies: 10});
    lib.insert("books", {code: "B003", title: "Freakonomics", author: "Levitt and Dubner", year: 2005, copies: 10});
    lib.insert("books", {code: "B004", title: "Predictably irrational", author: "Ariely", year: 2008, copies: 10});
    lib.insert("books", {code: "B005", title: "Tesla: Man out of time", author: "Cheney", year: 2001, copies: 10});
    lib.insert("books", {code: "B006", title: "Salmon fishing in the Yemen", author: "Torday", year: 2007, copies: 10});
    lib.insert("books", {code: "B007", title: "The user illusion", author: "Norretranders", year: 1999, copies: 10});
    lib.insert("books", {code: "B008", title: "Hubble: Window of the universe", author: "Sparrow", year: 2010, copies: 10});
    lib.commit();

    lib.update("books", {code: 'B001'}, function(row) {
        row.title = "Phantoms";

        // the update callback function returns to the modified record
        return row;
    });
  */  
    // Builds the HTML Table out of myList json data from Ivy restful service.
    function buildHtmlTable(myList, elem) {            
        var columns = addAllColumnHeaders(elem, myList);
        for (var i = 0 ; i < myList.length ; i++) {
            var row$ = $('<tr/>');
            for (var colIndex = 0,len = columns.length ; colIndex <  len; colIndex++) {
                var cellValue = myList[i][columns[colIndex]];
                if (cellValue === null) { cellValue = ""; }

                row$.append($('<td/>').html(cellValue));
            }
            $(elem).append(row$);
        }
    }

    // Adds a header row to the table and returns the set of columns.
    // Need to do union of keys from all records as some records may not contain
    // all records
    function addAllColumnHeaders(elem, myList){
        var columnSet = [];
        var headerTr$ = $('<tr/>');

        for (var i = 0 ; i < myList.length ; i++) {
            var rowHash = myList[i];
            for (var key in rowHash) {
                if ($.inArray(key, columnSet) == -1){
                    columnSet.push(key);
                    headerTr$.append($('<th/>').html(key));
                }
            }
        }
        $(elem).append(headerTr$);

        return columnSet;
    }
    
    function clearTable(elem){
        document.getElementById(elem).innerHTML = "";
    }
   

function search(val){
    buildHtmlTable(
        lib.query("books", function(row) {
            if(strstr(row.title, val)) {
                return true;
            }
        }), 
       "#mytable"
   );
}

$(document).ready(function(){

    search('');
    $("#search").on('keyup', function(){
        var val = $(this).val();
        clearTable("mytable");
        search(val);
        //buildHtmlTable(lib.query("books", {year: 1999, author: "Norretranders"}), "#mytable3");
        
    });

});
</script>
<link rel='stylesheet' type='text/css' href='test.css' media='screen'/>
<body>
    <input type="text" placeholder="Pesquisar por título" id="search"/><hr/>
    <table id="mytable" class="sortable"></table>
</body>
